[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openwa = "*"
selenium = "*"
requests = "*"
pillow = "*"
python-axolotl = "*"
python-magic = "*"

[dev-packages]

[requires]
python_version = "3.9"
